snippet cred "My private Credentials" 
Yannick Reiss <yannick.reiss@protonmail.ch>
endsnippet

snippet solve "Solve a python equation" 
${1:1*1}`!p rv = ""
try:
	rv = eval(t[1])
except SyntaxError:
	rv = "?"
snip.rv = f" = {rv}"`
endsnippet

snippet dd "Date and Time" i
`date`
endsnippet

snippet credhsrm "Credentials HSRM" b
Yannick Reiß (yreis001) <yannick.reiss@student.hs-rm.de>
endsnippet

