snippet cred "My private Credentials"
Yannick Reiss <yannick.reiss@protonmail.ch>
endsnippet

snippet solve "Solve a python equation"
${1:1*1}`!p rv = ""
from math import *
try:
	rv = eval(t[1])
except:
	rv = "?"
snip.rv = f" = {rv}"`
endsnippet

snippet dd "Date and Time" i
`date`
endsnippet

snippet credhsrm "Credentials HSRM"
Yannick Reiß (yreis001) <yannick.reiss@student.hs-rm.de>
endsnippet
